html{
	 --spacing: 100px; /*Создание переменной */
}
.image{
	width: calc(100%/3); /* Рассчитывает ширину 1/3 картинки */
	transform: rotate(calc(90deg*4 - 90deg)); /* Рассчитывает поворот картинки в градусах */
}
p{
	font-size: calc(5vw + 20px); /* Рассчитывает размер шрифта 5% от общей ширины области просмотра + 20px размер шрифта */
	padding: calc(var(--spacing)*2); /* Рассчитывает отступ умножая переменную на 2 */
}